In [1]:
import csv
import pandas as pd

In [12]:
f = open("Book1.csv",'r')
row = csv.reader(f)
d1 = pd.DataFrame(row)
d1
#for i in row:
#    print(i)

      0      1        2      3
0  Name  Class  Roll No  Marks
1   ABC      I        1     80
2   DEF     II        2     90
3   GHI    III        3    100
4   JKL     IV        4     60
5   MNO      V        5     70

In [13]:
print(row)

<_csv.reader object at 0x000001EE94F65400>

In [15]:
f = open("Book1.csv",'r')
row = csv.reader(f)
for i in row:
    print(i[0],i[2])

Name Roll No
ABC 1
DEF 2
GHI 3
JKL 4
MNO 5

In [20]:
f = open("Book1.csv",'r')
row = csv.reader(f)
next(row)
for i in row:
  #  print(i)
    print(i[0],i[2])

ABC 1
DEF 2
GHI 3
JKL 4
MNO 5

In [21]:
f = open("Book2.csv",'r')
row = csv.reader(f)
for i in row:
    print(i)

['Name|Class|Roll No|Marks']
['ABC|I|1|80']
['DEF|II|2|90']
['GHI|III|3|100']
['JKL|IV|4|60']
['MNO|V|5|70']

In [22]:
f = open("Book2.csv",'r')
row = csv.reader(f,delimiter='|')
for i in row:
    print(i)

['Name', 'Class', 'Roll No', 'Marks']
['ABC', 'I', '1', '80']
['DEF', 'II', '2', '90']
['GHI', 'III', '3', '100']
['JKL', 'IV', '4', '60']
['MNO', 'V', '5', '70']

In [26]:
f = open("Book3.csv",'w')
wr = csv.writer(f)
wr.writerow(['Name','Class','Roll NO'])
wr.writerow(['ABC','I',1])
f.close()

In [28]:
f = open("Book4.csv",'w')
fields = ['Name','Class','Roll no']
rows = [['ABC','I',80],['DEF','II',90],['GHI','III',100]]
wr = csv.writer(f)
wr.writerow(fields)
wr.writerows(rows)
f.close()

In [27]:
f = open("Book5.csv",'w')
fields = ['Name','Class','Roll no']
rows = [['ABC','I',80],['DEF','II',90],['GHI','III',100],['JKL','IV',70]]
wr = csv.writer(f)
wr.writerow(fields)
wr.writerows(rows)
f.close()

In [28]:
str1 = input("Enter the name: ")
f = open("Book5.csv",'r')
row = csv.reader(f)
for i in row:
    if len(i)>0:
        if i[0]==str1:
            print(i)

Enter the name: ABC
['ABC', 'I', '80']

In [29]:
str1 = input("Enter the name to delete : ")
f1 = open("Book5.csv",'r')
f2 = open("Temp.csv",'w')
row = csv.reader(f1)
wr = csv.writer(f2)
for i in row:
    if len(i)>0:
        if i[0]!=str1:
            wr.writerow(i)
f2.close()

f1 = open("Book5.csv",'w')
f2 = open("Temp.csv",'r')
row = csv.reader(f2)
wr = csv.writer(f1)
for i in row:
    wr.writerow(i)
f1.close()

Enter the name to delete : DEF

In [31]:
f = open("Book5.csv",'r')
r = csv.reader(f)
for i in r:
    if len(i)>0:
        print(i)

['Name', 'Class', 'Roll no']
['ABC', 'I', '80']
['GHI', 'III', '100']
['JKL', 'IV', '70']